.hidden {
    display: none !important;
}

body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        
        #myText {
            font-size: 32px;
            transition: color 0.3s ease;
        }
        
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin: 5px;
            border: none;
            border-radius: 5px;
            background-color: #18ca18;
            color: rgb(251, 245, 245);
        }
        
        button:hover {
            background-color: #15dc1f;
        }

        .fade-in {
        animation: fadeIn 0.5s;
    }
    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }